/* src/styles/App.css */
:root {
    --gold: #c5a253;
    --black: #1b1b1b;
    --white: #f5f5f5;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
    color: var(--black);
  }
  