/* src/styles/Portfolio.css */
#portfolio {
    padding: 2rem;
    max-width: 1000px;
    margin: auto;
  }
  
  #portfolio h2 {
    font-family: 'Cinzel Decorative', cursive;
    color: var(--gold);
    margin-bottom: 1rem;
  }
  
  .portfolio img {
    max-width: 100%;
    border: 3px solid var(--gold);
    margin-bottom: 1rem;
  }
  